<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body bgcolor="lightblue">
    <div class="container">
        <header>Registration</header>
        <form action="/register"  method="POST">
            <label>name</label><br>
            <input type="text" placeholder="Enter your full name" name="name" class="form-control" required=""><br>

            <label>dob</label><br>
            <input type="date" placeholder="Date Of Birth" name="date" class="form-control"required=""><br>

            <label>phone</label><br>
            <input type="text" placeholder="Enter your Phone number" name="phone" class="form-control"><br>
        
            <label>email</label><br>
            <input type="email" placeholder="Enter Email" name="email" class="form-control"><br>
        
            <label>password</label><br>
            <input type="password" placeholder="Enter your password" name="password" class="form-control"><br>
        
        <div>
        <button class="button" name="submit">Submit</button>
        </div></form>
                
    </div>
</body>
</html>